@import '../../../variables';

.product{
    width: 250px;
    height: 300px;
    border: 1px solid $purple;
    margin-right: 20px;
    .poster{
        width: 130px;
        height: 200px;
        text-align: center;
        overflow: hidden;
        margin: 15px auto;
        img{
            width: 100%;
            height: auto;
            max-height: 100%;
        }
    }
    .details{
        margin: 0 15px;
        .brand{
            color: $grey;
            font-size: 12px;
        }
        .name{
            font-size: 20px;
            font-weight: 400;
            color: $purple;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}