@import '../../../variables';

.footer {
    padding: 20px;
    min-height: 40px;
    overflow: auto;
    background-color: $purple;
    .link {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 5px;
        display: inline-block;
    }
    .link-grp {
        margin-left: 40px;
    }
    .facebook {
        background-image: url('../../../assets/images/facebook.png');
    }
    .twitter {
        background-image: url('../../../assets/images/twitter.png');
      }      
    .insta {
        background-image: url('../../../assets/images/instagram.png');
    }
    .logo {
        width: 100px;
        margin-right: 40px;
    }

}