/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import 'variables';

.fright {
    float: right;
}
  
.fleft {
    float: left;
}
  
.clearfix {
    clear: both;
    content: '';
}

body {
    font-family: 'Lato', sans-serif;
}
